body {
     margin: 0;
     background: #ecf0f1;
     color: #fff;
     font-family: 'Karla', sans-serif;
     line-height: 1.5;
}


ul {
     list-style: none;
     padding: 0;
     margin: 0;
}

.content_header {
     width: 80%;
     min-height: 8%;
     padding: 1em 2em;
}

.content_header:after {
     content: " ";
     display: table;
     clear: both;
}



/* Nav Demo Styles -------------------- */

.content_nav,
.drop-nav {
     background: #2c3e50;
}

.content_nav {
     float: right;
     border: solid 1px #1e2a36;
     border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.content_nav > li {
     float: left;
     border-left: 1px solid rgba(255, 255, 255, .1);
}

.content_nav li:first-child {
     border-left: none;
}

.content_nav a {
     color: #fff;
     display: block;
     padding: 10px 30px;
     text-decoration: none;
}

.dropdown,
.flyout {
     position: relative;
}

.dropdown:after {
     font-size: .5em;
     display: block;
     position: absolute;
     top: 38%;
     right: 12%;
}

.drop-nav,
.flyout-nav {
     position: absolute;
     display: none;
}

.drop-nav li {
     border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
     display: block;
     background: #395066;
}

.flyout-nav {
     left: 100%;
     top: 0;
}

.flyout:hover a,
.flyout-nav {
     background: #1e2a36;
}
