    body {
         padding: 0px;
         margin: 0px;
         width: 100%;
         font-family: 'Karla', sans-serif;
    }

    ul {
         list-style: none;
         padding: 0;
         margin: 0;
    }

    li:hover {
         background-color: #252525;
    }

    .content_header {
         align-self: center;
         width: 75%;
         min-height: 8%;
         padding: 1em 2em;
    }

    .content_header:after {
         content: " ";
         display: table;
         clear: both;
    }


    p {
         width: 50%;
         margin: auto;
         text-align: left;
    }

    /* --------------------

*/

    .content_nav,
    .drop-nav {
         background: #212121;
    }

    .content_nav {
         float: right;
         border: solid 1px #212121;
         border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .content_nav > li {
         float: left;
         border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .content_nav li:first-child {
         border-left: none;
    }

    .content_nav a {
         color: #fff;
         display: block;
         padding: 10px 30px;
         text-decoration: none;
    }

    .dropdown,
    .flyout {
         position: relative;
    }

    .dropdown:after {
         font-size: .5em;
         display: block;
         position: absolute;
         top: 38%;
         right: 12%;
    }

    .drop-nav,
    .flyout-nav {
         position: absolute;
         display: none;
    }

    .drop-nav li {
         border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .dropdown:hover > .drop-nav,
    .flyout:hover > .flyout-nav {
         display: block;
         background: #212121;
    }

    .flyout-nav {
         left: 100%;
         top: 0;
    }

    .flyout:hover a {
         background-color: #252525;
    }

    /* -HEADE STOPPER HER */

    .box-container {
         margin: 0vw;
         padding: 0vw;
         display: flex;
         flex-direction: row;
         width: 100%;
         height: auto;

    }

    .content {
         margin: 1vw;
         padding: 1vw;
         max-width: 100%;
         text-align: center;
         flex-wrap: nowrap;
    }

    .logo_forside {
         margin: 0px;
         padding-top: 5%;
         max-width: 100%;
         text-align: center;
    }


    #m_gruppe {

         display: flex;
         flex-direction: row;

    }

    #m_gruppe .content {
         padding-top: 2vw;
         margin: 0;
         width: 25%;

    }

    .bmc img {
         width: 60%;
         height: auto;
    }

    .charette img {
         width: 30%;
         height: auto;
    }

    #ex_map img {
         width: 80%;
         height: auto;
    }

    #br_story img {
         width: 80%;
         height: auto;
    }

    #mining img {
         width: 80%;
         height: auto;
    }

    #aof .content {
         text-align: center;

    }

    .papir-pro img {
         width: 45%;
         height: auto;
    }


    .nabc {
         padding-top: 50px;
         margin: auto;
         display: flex;
    }

    .cont_N {
         text-align: center;
         width: 500px;
         height: auto;
         ;
         background-color: darkgreen;
         flex-grow: 1;
    }

    .cont_A {
         text-align: center;
         width: 500px;
         height: auto;
         background-color: red;
         flex-grow: 1;
    }

    .cont_B {
         text-align: center;
         width: 500px;
         height: auto;
         background-color: steelblue;
         flex-grow: 1;
    }

    .cont_C {
         text-align: center;
         width: 500px;
         height: auto;
         background-color: mediumpurple;
         flex-grow: 1;
    }
